{
  "overrides": [
    {
      "files": "*.yaml",
      "options": {
        "parser": "yaml",
        "tabWidth": 2,
        "singleQuote": false,
        "proseWrap": "preserve"
      }
    }
  ]
}
