resources:
  store:
    strategy: milvus
    params:
      host: milvus.agrospai.udl.cat
      port: 19530
      collection_name: docs_chatbot
      user: ${MILVUS_USER}
      password: ${MILVUS_PASSWORD}
  llm:
    strategy: openai
    params:
      api_key: ${CHAT_API_KEY}
      base_url: https://chat.agrospai.udl.cat/api
      model_name: gpt-oss:latest
      temperature: 0.0
  sources:
    steps:
      fetching:
        # - strategy: Path
        #   params:
        #     path: ./resources/test/
        - strategy: SitemapXML
          params:
            url: https://agrospai.udl.cat/sitemap.xml
            regex:
              - https?://[^/]+/docs/
        # - strategy: URL
        #   params:
        #     url: https://x.com
        # - strategy: Crawling
        #   params:
        #     url: https://agrospai.udl.cat
        #     workers: 5
        #     depth: 3
        #     delay: 0
      parsing:
        - strategy: HtmlParser
          params:
            use:
              - SitemapXML
              - Crawling
        - strategy: FileParser
          params:
            use:
              - Path
experiments:
  strategy: async_experiments
  params:
    max_concurrent: 3
  steps:
    chunking:
      - strategy: ParentChild
        params:
          chunk_size: 500
          embedding_model: "paraphrase-multilingual:latest"
          embedding_api_url: "https://chat.agrospai.udl.cat/ollama/api/embed"
          embedding_api_key: ${CHAT_API_KEY}
    embedding:
      - strategy: OpenAI-Simple
        params:
          model: paraphrase-multilingual:latest
          api_key: ${CHAT_API_KEY}
          url: https://chat.agrospai.udl.cat/ollama/api/embed
      - strategy: openai-simple
        params:
          model: paraphrase-multilingual:latest
          api_key: ${CHAT_API_KEY}
          url: https://chat.agrospai.udl.cat/ollama/api/embed
    benchmarking:
      - strategy: QuerySet
        params:
          questions:
            - ["Who are the members of Universitat de Lleida's (UdL) project AgrospAI?", "Roberto García González, Rosa Maria Gil, Jordi García Ventura, Zihan Chen, Christian López García, Claudia Colàs Torres, Aleix Segura Paz, Pol Jaimejuan Caubet, Joan Piñot Murillo"]
      - strategy: ChunkQuality
      # - strategy: CorpusDriftStability
      #   params:
          
          
      
